<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZoQ9RMvZPgIfuaPQ2f_76BKSvtZ-FwJk</string>
	<key>GCM_SENDER_ID</key>
	<string>606532137454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hj</string>
	<key>PROJECT_ID</key>
	<string>bbbb-3ca43</string>
	<key>STORAGE_BUCKET</key>
	<string>bbbb-3ca43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:606532137454:ios:0bbfb81689e88d30921eff</string>
</dict>
</plist>